<div class="stat">
  <span class="name">Users:</span>
  <span class="value"><%= User.count %></span>
</div>

<div class="stat">
  <span class="name">Places:</span>
  <span class="value"><%= Place.count %></span>
</div>