<h2><%= t("mailers.salutation", :name => @resource.first_name)%></h2>
<p><%= t("mailers.reset_password_instructions.intro") %></p>
<p><%= link_to t("mailers.reset_password_instructions.change_my_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<br/>
<p><%= t("mailers.reset_password_instructions.warning").html_safe %></p>
