- if resource && resource.errors.any?
  %div{:class => 'alert alert-error'}
    = error_messages_for resource
- if params[:welcome]
  = hidden_field_tag :welcome, params[:welcome]
  = render 'set'
- else
  = render 'reset'