.section.span5
  %h2.center.bottom-large= t("users.registration.create_an_account_using")

  -if facebook_enabled
    = link_to user_omniauth_authorize_path(:facebook) do
      .center= image_tag 'signin_facebook.png', :alt => t("users.registration.sign_in_with", :provider => "Facebook"), :class => 'bottom'
  %br
  / -if twitter_enabled
  /   = link_to user_omniauth_authorize_path(:twitter) do
  /     = image_tag 'sign-in-with-twitter-l.png', :alt => t("users.registration.sign_in_with", :provider => "Twitter")

  %p.bottom-part
    .center= simple_format t("users.registration.sign_in_provider_info")

%br.clearfix
%br
