- if SiteConfig.show_contact
  %a{:href => '#contact_request', :class => 'sidecontact', 'data-toggle' => 'modal', 'data-backdrop' => 'true', 'data-keyboard' => 'true', 'data-show' => 'true'}
  = render 'contacts/contact'