.span16.offset1
  .span4
    %h3 Contact Information:
    %p Company Name
    %p Address Line 1
    %p Address Line 2
    %p Contact email
  .span
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=71+Ayer+Rajah+Crescent,+Singapore&amp;aq=0&amp;oq=71+Ayer+Rajah+Crescent&amp;sll=1.296767,103.786752&amp;sspn=0.006822,0.009602&amp;vpsrc=6&amp;g=71+Ayer+Rajah+Crescent,+Singapore+139951&amp;ie=UTF8&amp;hq=&amp;hnear=71+Ayer+Rajah+Crescent,+Singapore+139951&amp;ll=1.29677,103.786747&amp;spn=0.013644,0.019205&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=71+Ayer+Rajah+Crescent,+Singapore&amp;aq=0&amp;oq=71+Ayer+Rajah+Crescent&amp;sll=1.296767,103.786752&amp;sspn=0.006822,0.009602&amp;vpsrc=6&amp;g=71+Ayer+Rajah+Crescent,+Singapore+139951&amp;ie=UTF8&amp;hq=&amp;hnear=71+Ayer+Rajah+Crescent,+Singapore+139951&amp;ll=1.29677,103.786747&amp;spn=0.013644,0.019205&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>