<div class="error-page row">
<div class="span10 offset1">
<h2>A Problem occured on this page</h2>
<p class="errro-subhead">Our technicians have been notified of this error</p>
<span class="error-text">We apologize for the inconvenience</span> <img class="error-image" src="/assets/500pic.png" alt="500pic"></div>
</div>