.span16
  %h3 Fees
  %br
  %p Explain the fee structure
  %p i.e: SquareStays is currently free of charge to all Property Owners and Listing Members. SquareStays charges a booking fee, normally around SGD $300 (three-hundred Singapore dollars) as a non-refundable, non-cancellable, booking confirmation fee. This fee is charged only at the time that a stay is confirmed.
