.tease-social
  %hr{:class => "style-two"}
  .links
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.fb.jpg", :width => "30px", :height => "30px"}
    %span.social-text
      %a{:href => "https://www.facebook.com/thesharingengine"} Join us on Facebook
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.tw.jpg", :width => "30px", :height => "30px"}
    %span.social-text
      %a{:href => "https://twitter.com/SharingEgine"} Follow us on Twitter
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.rss.png", :width => "25px", :height => "25px"}
    %span.social-text
      %a{:href => "http://thesharingengine.com/blog/"} Read our blog