<div id="how" class="info">
<div class="row">
<div class="intro span12">
<h2>How SquareStays works</h2>
<br>
<p>SquareStays offers a unique blend of exactly what you need in flexible professional accommodations - quality and trust at a reasonable price.</p>
<p>All SquareStays listings are designed to provide the comfort you expect from having a place of your own with the flexibility of a shorter-term stay.</p>
<p>SquareStays only lets professional landlords, owners, agents and property managers list places. This ensures you a high level of trust, service and quality for your stay.</p>
</div>
</div>
<div class="row columns">
<div class="span6">
<h3>Travelers</h3>
<img class="metaphor" src="http://s3.amazonaws.com/squarestays-static/travelers.jpg" alt="">
<p>Simply use the place search and filter page on SquareStays to find a place that’s right for you. You can narrow your search criteria by type of accommodation, price, and location.</p>
<p>Once you have found place that looks good for you, you can either make a reservation or make an inquiry. An inquiry is like a reservation, including the dates that you are looking for, as well as helping you understand the costs, but allows you to ask any further questions you might want to ask before making a reservation. A reservation, is, naturally, a reserved set of dates that you will stay at the place.</p>
<p>The place owner or listing member will typically answer your request within 24-48 hours. The owner may have some follow-up questions for you, so please remember to check in on the site regularly when you have inquiries pending.</p>
<p>Of course, you can always send general messages or questions to any other member on the site using the “Send Message” link on the member’s profile page or when viewing the details of any place. If you ever have any problems or questions in communicating with other members, please contact us at <a href="mailto:support@squarestays.com">support@squarestays.com</a></p>
</div>
<div class="span6">
<h3>Listing members</h3>
<img class="metaphor" src="http://s3.amazonaws.com/squarestays-static/listing_members.jpg" alt="">
<p>If you would like to list a property on SquareStays, please contact us at <a href="mailto:places@squarestays.com">places@squarestays.com</a>. The SquareStays team will then work with you to ensure that you understand the requirements for listings on SquareStays.</p>
<p>In general, all properties on SquareStays should be fully-furnished, full units with all utilities turned on. We encourage you to provide as much information as possible about the short-term availability terms, for instance, if your units have a minimum stay of one month, two months or more. Also, please be clear with any other conditions you may have, such as security deposit or clean-up fees. Finally, providing as many high-quality photos as possible is extremely valuable for potential tenants.</p>
<p>Once you have emailed us, we will enable your account to create listings, usually within 2 business days. Please watch your email for any incoming messages and inquiries from interested tenants, and email us at any time at <a href="mailto:support@squarestays.com">support@squarestays.com</a> with any questions you may have.</p>
</div>
</div>
<div class="row actions">
<div class="span6"><form class="button_to" action="/places/singapore" method="get">
<div><input class="btn btn-large btn-info" type="submit" value="Find a place"></div>
</form></div>
<div class="span6"><form class="button_to" action="/signup" method="get">
<div><input class="btn btn-large btn-info" type="submit" value="List your properties"></div>
</form></div>
</div>
<div class="row">
<div class="well">
<h3>Payments</h3>
<br>
<p>SquareStays listings are designed to have full disclosure and no hidden fees! When you make an inquiry or a reservation, you should know exactly how much it will cost. All SquareStays fees are built into the prices shown on the site.</p>
<p>SquareStays offers payments by credit card, PayPal and bank transfer. Please contact us at <a href="mailto:support@squarestays.com">support@squarestays.com</a> with any questions.</p>
</div>
</div>
</div>