.span16
  %h3 Privacy Policy
  %p PLEASE READ THIS PRIVACY POLICY CAREFULLY AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND USAGE OF YOUR PRIVATE INFORMATION. THIS POLICY INCORPORATES THE SQUARESTAYS TERMS OF USE (HEREAFTER “TERMS”) BY ASSOCIATION. SEE <a href='/terms'>WWW.SQUARESTAYS.COM/TERMS</a> FOR FULL TERMS.

  %p.strong Introduction
  %p This Privacy Policy describes SquareStay's (operated by HeyPal Private Limited) (hereafter SquareStays or HeyPal) policies and procedures on the collection, use, sharing and disclosure of your information. SquareStays receives your information through various sources, including without limitation our various web sites, SMS, APIs, applications, services and third-parties (collectively "Services"). For example, you send us information when you use SquareStays from our web site, post or receive posts via SMS or email or other Services, add a SquareStays widget to your website, or access SquareStays from an application such as SquareStays on social networks or third-Party sites, or www.SquareStays.com. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information unless you specifically follow the opt-out provisions as described in this Privacy Policy. Irrespective of which country that you reside in or create information from, your information may be used by SquareStays in the Republic of Singapore or any other country where SquareStays operates.
  %p If you have any questions or comments about this Privacy Policy, please contact us at <u>privacy@SquareStays.com</u>.
  %br
  %p.strong.u Information SquareStays Collects
  %p SquareStays may collect and store the following information:
  %p
    %span.strong Information Collected Upon Registration:
    When you create or configure a SquareStays account, you provide information, such as your name, password, and email address. Some of this information, for example, your name, may be listed publicly on our Services, including on a Place page and in search results. 
  %p 
    %span.strong Additional Information: 
    You may provide us with additional information to make public, such as your location, your Places pictures, or more information about yourself. You may customize your account with information such as a telephone number or email address for the delivery of messages or you may provide access to your address book so that we can help you find SquareStays users you know. Providing the additional information described here is entirely optional.
  %p 
    %span.strong Content: 
    SquareStays is used to share Places with others. This includes when you list or post Places, upload or take photos, upload or record video, share links, make a comment, or send someone a message. If you do not want us to store metadata associated with content you share on SquareStays (such as photos), please remove the metadata before uploading the content.
  %p 
    %span.strong Transactional Information. 
    We retain the details of transactions or payments you make through SquareStays. 
  %p 
    %span.strong Member Information. 
    We offer contact importer tools and connectors to social networks and other Third-Party Services to help you connect with and invite your friends on SquareStays. We store only a token to allow SquareStays to connect to these Third-Party Services on your behalf. We do not store your password(s) for these Third-Party Services.
  %p 
    %span.strong Site activity information. 
    We keep track of some of the actions you take on SquareStays, such as adding Places, transacting Places with other Members, searching for Places, commenting on Places and so on. In some cases you are also taking an action when you provide information or content to us. For example, if you add an Place, in addition to storing the actual content you uploaded, we will log the fact that you shared it.
  %p 
    %span.strong SquareStays and Third-Party Services: 
    We do not own or operate Third-Party applications or websites that you may use through or to connect to SquareStays. Whenever you connect with a Third-Party Service, we may receive information from them, including information about actions you take. In some cases, in order to personalize the process of connecting, we may receive a limited amount of information even before you connect with the Third-Party Service.
  %p 
    %span.strong Information from other websites. 
    We may institute programs with advertising partners and other websites in which they share information with us. We may share information with them as well. This may include information about you, your Places, or your transactions. We may ask advertisers to tell us how Members respond to ads from our advertising partners. We may receive information about whether or not you’ve seen or interacted with certain ads on other sites in order to measure the effectiveness of those ads.
  %p 
    %span.strong Information from other Members. 
    We may collect information about you from other SquareStays users, such as reviews or comments on your Places, your transactions or other interactions with other SquareStays Members, or other related information.
  %p 
    %span.strong Places, search results and other public information: 
    Our Services are primarily designed to help you enter into transactions (e.g., sale, purchase, loan, rental or lease) involving your physical goods or locations for accommodation ("Places"). Most of the information you provide to us is information you are asking us to convey to other Members. This includes the Places you add, the time when you added the Places, other past Places or transactions you have created, other Places you have posted about and many other bits of information. Our default is almost always to make the information you provide available to other Members but we allow you to control which Members or groups of Members can see the Places details. Information about Places is searchable by many search engines and may be delivered to a wide range of users and Third-Party Services. You should be careful about all information that will be made public by SquareStays.
  %p 
    %span.strong Location Information: 
    You may choose to note your location in your content and in your SquareStays profile.
  %p 
    %span.strong Log Data: 
    Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, the referring domain, pages visited, your mobile carrier or Internet Service Provider (ISP), device and application IDs, and search terms. Other actions, such as interactions with our website, applications and advertisements, may also be included in Log Data. If we haven’t already deleted the Log Data earlier, we will either delete it or remove any common account identifiers, such as your username, full IP address, or email address, after 24 months.
  %p 
    %span.strong Links: 
    SquareStays may keep track of how you interact with links in posts across our Services including third-party services and clients by redirecting clicks or through other means. We do this to help improve our Services, including advertising, and to be able to share aggregate click statistics such as how many times a particular link was clicked on.
  %p 
    %span.strong Cookies: 
    Like many websites, we use "cookie" technology to collect additional website usage data and to improve our Services, but we may not require cookies for all parts of our Services. A cookie is a small data file that is transferred to your computer's hard disk. SquareStays may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.
  %p 
    %span.strong Third-Party Services: 
    SquareStays uses a variety of services hosted by third parties to help provide our Services and to help us understand the use of our Services, such as Google Analytics. These services may collect information sent by your browser as part of a web page request, such as cookies or your IP request.

  %br
  %p.strong.u Information Use, Sharing and Disclosure

  %p We may use, share and disclose your information in the manner set forth below:
  %p 
    %span.strong How We Use Information:
    We collect and use your information to provide and measure use of our Services and improve them over time.  You agree that we may use your personal information to:
  %ul
    %li{:style => 'color:black;'} provide the services and customer support you request;
    %li{:style => 'color:black;'} protect the rights or property of our Members;
    %li{:style => 'color:black;'} resolve disputes, collect fees, and troubleshoot problems;
    %li{:style => 'color:black;'} prevent potentially prohibited or illegal activities, and enforce the provisions of our Terms of Service;
    %li{:style => 'color:black;'} customize, measure and improve our services, content and advertising;
    %li{:style => 'color:black;'} tell you about our Services and those of our affiliates, targeted advertising, service updates, and promotional offers based on your  preferences; and
    %li{:style => 'color:black;'} compare information for accuracy, and verify it with third partiess.
  %p 
    %span.strong How We May Share and Disclose Information:  
    We share your information with third parties when we believe the sharing is permitted by you, reasonably necessary to offer our services, or when legally required to do so.
  %p 
    %span.strong Use of Third-Party Services for Access. 
    We may share or disclose your information in certain cases, such as when you use Third-Party Services to access your SquareStays account. For instance, if you connect via a mobile application, some of your information may be disclosed to service providers who enable this access. 
  %p 
    %span.strong Personalized Advertising. 
    We don’t share your information with advertisers without your consent.  However, you are deemed to have given your consent to share your information with third parties if you do not follow the Opt-Out Procedure set forth below.  Also, consent may be given by your actions.  An example of consent would be if you asked us to provide your shipping address to an advertiser to receive a free sample or you enter into a SquareStays transaction with a commercial Member. We allow advertisers to choose the characteristics of Members who will see certain advertisements and we may use any of the non-personally identifiable attributes we have collected, including information you may have decided not to show to other Members to select the appropriate audience for those advertisements. For example, we might use your interest in electronics to show you ads for digital music players, but we do not tell any electronics company your name. Even though we do not share your information with advertisers without your consent, when you click on or otherwise interact with an advertisement there is a possibility that the advertiser may place a cookie in your browser. This is a Third-Party Service transaction outside of the control of SquareStays.
  %p
    %span.strong Information Shared with Marketers. 
    You may choose to share information with marketers or electronic commerce providers that are not associated with SquareStays through on-site or email newsletter offers. This is entirely at your discretion.
  %p
    %span.strong Search Engine Access. 
    Search engines will have broad access to certain information on our site. For example, your Places are searchable by many search engines and may be immediately delivered to a wide range of users and services.
  %p
    %span.strong Advertising Our Services. 
    We may ask advertisers outside of SquareStays to display ads promoting our services. We may ask them to deliver those ads based on the presence of a cookie, but in doing so will not share any other information with the advertiser.
  %p 
    %span.strong Service Providers: 
    We engage certain trusted third parties to perform functions and provide services to us. We may share your personal information with these third parties to the extent necessary to perform these functions and provide such services, and only pursuant to obligations mirroring the protections of this privacy policy.
  %p 
    %span.strong Law and Harm: 
    We may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect SquareStays's rights or property.
  %p 
    %span.strong Business Transfers: 
    In the event that SquareStays is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this privacy policy will apply to your information as transferred to the new entity.
  %p 
    %span.strong Non-Private or Non-Personal Information: 
    We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your Places or the number of Members who clicked on a particular link.
  %br
  %p.strong.u Information Protection
  %p 
    %span.strong Information Security. 
    We keep your account information on a secured server behind a firewall. When you enter sensitive information (such as credit card numbers and passwords), we encrypt that information using secure socket layer technology (SSL). We generally do not store payment-related information, but leave that with Third-Party Service providers specialized in these tasks. We use automated and behavior-based measures to enhance security. If we detect, or believe we have detected, fraudulent or otherwise anomalous behavior, we may limit use of our Services or remove inappropriate content, or suspend or disable accounts for violations of these policies and agreements.
  %p 
    %span.strong Risks inherent in online data. 
    Although SquareStays provides privacy options to limit access to information, please be aware that no security measures are perfect or impenetrable. SquareStays cannot control the actions of other Members with whom you share your information. We cannot guarantee that only authorized persons will view your information. We cannot ensure that private information you share on SquareStays will not become publicly available. We are not responsible for third party circumvention of any privacy settings or security measures on SquareStays. SquareStays recommends you use common sense security practices such as choosing a strong password, using different passwords for different services, and using up-to-date antivirus software.
  %p 
    %span.strong Report Violations. 
    You should report any security violations to us.
  %br
  %p.strong.u Opt-Out Procedure
  %p You may opt out of certain SquareStays advertising and information sharing by unchecking selected boxes in your account settings. The names of these settings may change over time. You should check updates to your account settings and to this Privacy Policy from time to time. You can opt out of Personalized Advertising or display of your completed Transactions at any time.
  %br
  %p.strong.u Deleting and Modifying Your Personal Information
  %p If you are a registered Member of our Services, we provide you with tools to access or modify the personal information you provided to us and associated with your account.
  %p You can also permanently delete your SquareStays account. If you follow the instructions on the site, your account will be deactivated and then deleted. When your account is deactivated, it is not viewable on SquareStays Services. For up to 30 days it is still possible to restore your account if it was accidentally or wrongfully deactivated. After 30 days, we delete your account from our systems. 
  %p 
    %span.strong Limitations on removal. 
    Even after you remove information from SquareStays or delete your account, copies of that information may remain viewable elsewhere to the extent it has been shared with other Members, or that it was otherwise distributed pursuant to your privacy settings, or that it was copied or stored by other Members or Third-Party Service providers. However, your name will no longer be associated with that information on SquareStays. Additionally, we will retain certain information to prevent identity theft and other misconduct even if you have deleted your account.  SquareStays will retain certain necessary information relevant to transaction history with other SquareStays Members.
  %p 
    %span.strong Backup copies. 
    Removed and deleted information may persist in backup copies for up to 180 days, but will not be available to others.
  %br
  %p.strong.u Our Policy Towards Children
  %p Our Services are not directed to people under 18 years old. If you become aware that any such person has provided us with personal information, please contact us at <u>privacy@SquareStays.com</u>. We do not knowingly collect personal information from any persons under 18. If we become aware that any person under 18 has provided us with personal information, we take steps to remove such information and terminate the account.
  %br
  %p.strong.u Changes to this Policy
  %p We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <a href='/privacy'>http://SquareStays.com/privacy</a>. If we make a change to this policy that we determine, in our sole discretion, is material, we will notify you via update or e-mail to the email associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.

