.span16
  %h3 SquareStays Terms of Use / Member Agreement
  %p PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES.

  %p THE FOLLOWING DESCRIBES THE TERMS ON WHICH HEYPAL PRIVATE LIMITED OFFERS YOU ACCESS TO OUR SITE (SQUARESTAY.COM, SQUARESTAYS.COM) AND SERVICES.

  %p Welcome to the Web sites and Web services operated by HeyPal Private Limited (hereafter referred to as "HeyPal," "we," "us," or "our"), a Singapore corporation. HeyPal maintains www.SquareStays.com (hereafter "Site"), as a service to our users, members and visitors (our Site and such services, collectively hereafter, our "Services"). By using this Site or Services, you agree to comply with and be legally bound by the following terms of use ("Terms"), whether or not you become a registered user or member (hereafter "Member") of the Services. Please review the following terms carefully. If you do not agree to these terms, you have no right to obtain information from or otherwise continue using this Site or Services. Failure to use this Site or Services in accordance with the following terms of use may subject you to severe civil and criminal penalties. We reserve the right to modify these Terms or policies relating to the Services at any time, effective upon posting of an updated version of these Terms on the Site. You are responsible for regularly reviewing these Terms. By using this Site or Services, you agree that the posting of new or revised terms and conditions on the Site or Services will constitute adequate and constructive notice to you of any and all revisions and changes. Continued use of the Services after any such changes or after explicitly accepting the new Terms upon logging into the site shall constitute your consent to such changes.

  %ol
    %li
      USER RESPONSIBILITIES
      %ol
        %li Neutral Venue. Our Site or Services are an online venue through which Members find and learn about each other. Our Site or Services are merely a venue for Members to learn about one another and, if they wish, arrange the time-limited rental of physical residence premesis (hereafter "Places") with one another. Members who buy, rent or receive Places from other Members shall be defined as Buyers (hereafter "Buyers"). Members who sell, rent or give Places to other Members shall be defined as Sellers (hereafter "Sellers"). We are not involved in any interactions between Members. As a result, we have no control over the conduct of our Members or the truth or accuracy of the information that Members post on the Site or Services.

        %li Member Identity. We make no attempt to confirm, and do not confirm, any Member's purported identity. You are responsible for determining the identity and suitability of others who you may contact by means of this Site or Services. We do not endorse any persons who use or register for our Services, whether as Buyers or Sellers. We do not investigate any Member's reputation, conduct, morality, criminal background, or verify the information that any Member submits to the Site or Services. We encourage you to communicate directly with potential Sellers and Buyers through the tools available on the Site or Services and to review your Sellers’ and Buyers’ profile pages for feedback from other Members.

        %li 
          Your Experience with Other Members. You are solely responsible for your interactions with other Members of our Services. We will not be responsible for any damage or harm resulting from your interactions with other Members of our Services, including, without limitation, any economic damages, losses, bodily injury, emotional distress, and/or any other damages that may result from your interactions, communications, or meetings with other Members, whether online or offline. We will not be responsible for any damage or harm resulting from goods or services exchanged with other Members of our Services. We reserve the right, but have no obligation, to monitor interactions between you and other Members of our Services and to take any other action in good faith to restrict access to or the availability of any material that we or another Member of our Services may consider obscene, lewd, lascivious, filthy, violent, harassing or otherwise objectionable. You should make whatever investigation you feel necessary or appropriate and take reasonable precautions before proceeding with any online or offline (including meeting in person) transactions with any other Member.

          %ol
            %li We recommend you use common sense and best practices for any offline or personal interactions with other Members. Third-party sites such as <a href='http://getsafeonline.org'>http://getsafeonline.org</a> and <a href='http://wiredsafety.org'>http://wiredsafety.org</a> may provide useful guidelines.

            %li You are solely responsible for your interactions with other Members. You understand that SquareStays does not in any way screen its Members, nor does SquareStays inquire into the backgrounds of its Members or attempt to verify the statements of its Members. SquareStays makes no representation or warranty as to the conduct of its Members or their suitability for transactions with any or all other Members. You agree to take reasonable precautions and full personal responsibility in/for all interactions with other Members of SquareStays, particularly if you decide to meet offline or in person. You understand that SquareStays makes no guarantees, either express or implied, regarding any Places or transactions on SquareStays. You should not provide your financial information (for example, your credit card or bank account information) to other Members.

        %li Release.  You agree that SquareStays shall not be responsible or liable for any loss or damage of any sort incurred as the result of any interactions between you and other Members.  If there is a dispute between participants or Members of this Site, you understand and agree that SquareStays is under no obligation to become involved.  In the event that you have a dispute with one or more other participants or Members of the Site, you hereby release SquareStays, its officers, directors, employees, agents, successors, assigns and affiliates, from claims, demands and damages (actual, consequential, nominal, punitive, or otherwise) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, past, present or future, arising out of or in any way related to Content on the Site, communications or interactions with other Members on the Site or your experience as a Buyer of Seller in connection with the Site or Services.  You agree that your sole and exclusive remedy for any losses or damages relating to the use of our Services shall be against those other Members whose acts or omissions you allege to have caused you harm. 

    %li 
      USER CONDUCT 
      %ol
        %li 
          Site Rules and Restrictions. In connection with your use of our Services, you must act responsibly and exercise good judgment. Without limiting the foregoing, you will not:
          %ol{:style => 'list-style-type: lower-alpha;'}
            %li violate any local, state, provincial, national, or other law or regulation, or any order of a court;
            %li infringe on the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights, including but not limited to any transactions related to any Places, without the rights to do so;
            %li interfere with or damage our Services, including, without limitation, through the use of viruses, bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;
            %li use our Services to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;
            %li	contact anyone who has asked not be contacted;
            %li	collect personal data about other users for commercial or unlawful purposes;
            %li	use automated means, including spiders, robots, crawlers, data mining tools, or the like to download data from the Site or Service unless expressly permitted by SquareStays;
            %li	use our Services in connection with the distribution of unsolicited commercial email ("spam") or advertisements unrelated to SquareStays and SquareStays Services;
            %li	"stalk" or harass any other Member of our Services or collect or store any information about any other Member other than for purposes of transacting as a SquareStays Member;
            %li	offer Places that you do not own; 
            %li	register for more than one Member account or register for a Member account on behalf of an individual other than yourself;
            %li	impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;
            %li	use automated scripts to collect information or otherwise interact with the Services or the Site;
            %li	use the Site to find goods and then complete the transaction offline in order to circumvent your obligation to pay for the Services;
            %li	submit any listing with a false or misleading price, stolen Place(s), non-existent Place(s), fake Place(s), counterfeit Place(s), or submit any listing with a price that you do not intend to honor; 
            %li	advocate, encourage, or assist any third party in doing any of the foregoing; or
            %li	interfere with or disrupt the Services or the Site or the servers or networks connected to the Services or the Site.

          The foregoing is merely a list of examples of prohibited conduct. SquareStays reserves the right to cancel a Member account or take other appropriate actions in its sole discretion in response to any inappropriate conduct, or for no reason at all.

        %li Disputes with Other Members. You are solely responsible for your interactions with other SquareStays Members.  You are solely responsible for resolving any and all disputes with other SquareStays Members. 

        %li Listing Prices. If you post a listing offering a good through the Site, which is accepted by you, and another Member, you acknowledge and agree that the price you specify for that listing will constitute an essential part of a binding agreement between you and the Member. You further agree not to alter the price once accepted.

    %li MINORS MAY NOT USE SERVICES. You must be at least 18 years old to register to use the Services. By registering to use our Services, you represent that you are over 18. 

    %li PRIVACY. The Privacy Policy of SquareStays is available on the Site at <a href='/privacy'>http://www.SquareStays.com/privacy</a> and is hereby incorporated by reference. You agree to abide by all terms set forth in the Privacy Policy.

    %li 
      YOUR CONTENT
      %ol
        %li Content. You understand that all postings, messages, text, files, images, photos, video, sounds, or other materials ("Content") posted on, transmitted through, or linked from the Site or Service, are the sole responsibility of the person from whom such Content originated. More specifically, you are entirely responsible for each individual Place of Content that you post, email or otherwise make available via the Site or Service. You understand that SquareStays does not control, and is not responsible for Content made available through the Service, and that by using the Service, you may be exposed to Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable. Furthermore, the Site and Content available through the Service may contain links to other websites, which are completely independent of SquareStays.  SquareStays makes no representation or warranty as to the accuracy, completeness or authenticity of the information contained in any such site.  Your linking to any other websites is at your own risk. You agree that you must evaluate, and bear all risks associated with, the use of any Content, that you may not rely on said Content, and that under no circumstances will SquareStays be liable in any way for any Content or for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed or otherwise made available via the Site or Service. You acknowledge that SquareStays does not pre-screen or approve Content, but that SquareStays shall have the right (but not the obligation) in its sole discretion to refuse, delete or move any Content that is available via the Site or Service, for violating the letter or spirit of the Terms or for any other reason.	

        %li You Grant Us a License. By submitting any Content to our Site or Services, you hereby grant us a perpetual, worldwide, non-exclusive, royalty-free license to use, reproduce, display, perform, adapt, modify, sell, distribute, have distributed and promote such Content in any form, in all media now known or hereinafter created and for any purpose, subject to the Privacy Policy as described in Section 4. You represent and warrant that you have sufficient rights to grant us this license. 

        %li 
          Content Restrictions. You are solely responsible for any Content that you submit, post or transmit via our Services. You may not post, submit, or otherwise make available any Content that:
          %ol{:style => 'list-style-type: lower-alpha;'}
            %li	is unlawful, harmful, threatening, abusive, harassing defamatory, libelous, invasive of another’s privacy, or is harmful to minors in any way;
            %li	infringes any patent, copyright, trademark, trade secret or other intellectual property rights or proprietary rights of any person, or Content that you do not have a right to make available under any law or under contractual or fiduciary relationships;
            %li	impersonates any person or entity or falsely states or otherwise misrepresents your affiliation with a person or entity except for Content that constitutes lawful non-deceptive parody of public figures;
            %li	includes personal or identifying information about another person without that person’s explicit consent;
            %li is false, deceptive, misleading, deceitful, misinformative, or constitutes “bait and switch”;
            %li	contains nudity or sexually explicit content, or is otherwise obscene or pornographic;
            %li	harasses, degrades, intimidates or disparages any individual or groups of individuals on the basis of  religion, gender, sexual orientation, race, ethnicity, age, disability, or other stereotypical depiction;
            %li	depicts individuals under 18 years of age;   
            %li	depicts or advocates the use of illicit drugs;
            %li	makes use of offensive language or images;
            %li	characterizes violence as acceptable, glamorous or desirable; 
            %li	promotes or contains information related to gambling;
            %li	constitutes or contains  "affiliate marketing," "link referral code," "junk mail," "spam," "chain letters," "pyramid schemes," or unsolicited commercial advertisement;
            %li	includes  links to commercial services or web sites, except as may be allowed by SquareStays;
            %li	contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; 
            %li	disrupts the normal flow of dialogue with an excessive amount of Content (flooding attack) to the Site or Services, or that otherwise negatively affects other Members' ability to use the Services; or
            %li	contains stolen, fake, counterfeit or non-existent Place(s); or
            %li	employs misleading email addresses, or forged headers or otherwise manipulated identifiers in order to disguise the origin of Content transmitted through the Services.

        %li No Obligation to Post Content. We have no obligation to post any Content from you or anyone else. In addition, we may, in our sole and unfettered discretion, edit, remove or delete any Content that you post or submit. 

    %li THIRD-PARTY CONTENT. In using our Services, you may be exposed to content and information from other Members or third parties ("Third-Party Content"), either at our Site or Services or through links to third-party websites. We do not control, and shall have no responsibility for, Third-Party Content, including material that may be unlawful, misleading, incomplete, erroneous, offensive, indecent or otherwise objectionable. You must evaluate the veracity of, and bear all risks associated with your exposure to, Third-Party Content, including without limitation, profiles of other Members of our Services.

    %li
      PAYMENT
      %ol
        %li Fee Structure. In exchange for providing the Services, SquareStays keeps a small portion of the payment Buyer makes in each transaction or use of Place (the “Transaction Fee”). As a buying or renting Member (Buyer), you agree to pay the amount posted by the selling or leasing Member (Seller) with whom you have chosen to transact. As a Seller, posting your listing is free, but you agree to pay SquareStays the Transaction Fee for each transaction. Some optional services or functionality may incur additional service fees.  The Transaction Fees will be listed at 
        = link_to 'fees', '/fees'

        %li Payment Logistics. If you find a listing that you are interested in completing a transaction on SquareStays, you will be asked to provide your credit card information and billing address. We will obtain a pre-authorization for the total amount of the transaction to ensure that you have the necessary amount of funds available to cover the transaction, but will not charge your card at that time. Alternatively we may charge you U.S. One Dollar (USD $1) to verify that the card works. If the Seller who posted the listing accepts your offer, your card will be charged the full balance at the time of acceptance; if the posting Member fails to respond or opts not to accept your offer, any charges will be refunded and the pre-authorization will be released. The funds will be held by SquareStays until use of the Place(s) is confirmed; shortly thereafter, SquareStays will remit the held funds to the Seller, less SquareStays’s Transaction Fee and any other applicable service fees. Buyer is requested to confirm completion of use of Place) within 48 hours of completion of use.  In the event Buyer fails to confirm completion, SquareStays will remit funds to the Seller upon Seller providing proof of completion to SquareStays.

        %li Cancellation and Refunds. If you cancel your transaction before the Seller accepts and confirms the transaction, SquareStays will return the funds to you in accordance with the cancellation policy. 

        %li Donations. Some Sellers may pledge to donate a portion of the funds they receive to a particular cause or charity. We do not control, and will not take any responsibility or liability for, whether or not the Seller has in fact made the donation as pledged. 

        %li Privacy. Our privacy policy governs the handling, storage, and use of any information you submit to us, including credit card billing information. Please see Section 4 of these Terms for further information on this policy.

        %li Taxes. SquareStays does not do business as an owner or seller of physical places, locations, or goods. SquareStays does not own, sell, resell, furnish, provide, rent, re-rent, manage and/or control physical places, locations or goods. SquareStays does not act as an agent for any providers, sellers, buyers, lenders or givers of physical places, locations or goods. SquareStays merely makes available a marketplace for Sellers and Buyers to meet and arrange for transactions.  SquareStays is not a contracting agent or representative of the Seller or Buyer.  Instead, SquareStays’s role is solely to facilitate the availability of this marketplace for the Seller and Buyer and to provide services related thereto, and any agreement for the use of any places, locations or goods is solely between the Seller and Buyer, and not SquareStays. You understand that we are acting solely as an intermediary for the collection of fees between you and any Sellers or Buyers with whom you choose to enter into a transaction. We cannot and do not offer tax advice to either Sellers or Buyers.  It is your responsibility to determine whether any tax is due with respect to a transaction and, if so, to remit such tax to the appropriate taxing authority.

        %li Damages. As a Buyer, you are responsible for maintaining any borrowed or rented places, locations or goods in the condition that it was given to you. In the event that a Seller claims otherwise and provides evidence of damage, including but not limited to photographs, you agree to pay the cost of replacing the damaged Places with equivalent Places. 

    %li 
      PROPRIETARY RIGHTS
      %ol
        %li Our Intellectual Property. Material on our Site or Services (with the exception of Third-Party Content) is protected by rights of publicity, copyright, trademark, trade secret, and other proprietary rights and intellectual property laws as applicable. Except as expressly authorized by us, you may not sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from such material. "Hey Pal," "HeyPal," “SquareStays”, “SquareStay”, “Can you spare a planet?,” “www.SquareStay.com”, “www.SquareStays.com” and "www.HeyPal.com" are trademarks of HeyPal protected by international law; you agree not to use such marks for any purpose, including but not limited to as metatags on other websites, in written materials or otherwise.

        %li Your Use of Our Intellectual Property. You may not systematically retrieve data or other Content from our Site or Services to create or compile, directly or indirectly, in single or multiple downloads, a collection, compilation, database, directory or the like, whether by manual methods, through the use of bots, crawlers, or spiders, or otherwise without prior written consent from SquareStays. You may not display any portion of our Site or Services in a frame (or any content from our Site or Services through in-line links) without our prior written consent, which may be requested by contacting us at help@SquareStays.com. You may, however, establish ordinary links to the homepage of our Site or Services without our written permission, and you may make use of embedded HTML if we have provided the HTML code.  You may not decompile or disassemble, reverse engineer or otherwise attempt to discover any source code contained in the Services. Without limiting the foregoing, you agree not to reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes, any aspect of the Content or Services.

    %li USERNAME AND PASSWORD. You will select a username and password as part of the registration process. You are solely responsible for the confidentiality and use of your username and password. You must: (a) log off from your account at the end of each session on our Site or Services; and (b) notify us immediately of any unauthorized use of your username and password or any other breach of security.

    %li TERMINATION. We may, in our discretion and without liability to you, with or without cause, with or without prior notice and at any time: (a) terminate your access to our Services, (b) deactivate or delete any of your accounts and all related information and files in such accounts, (c) bar your access to any of such files or Services, and (d) terminate any and all Services offered by SquareStays. Upon termination we will promptly pay any Seller fees held in escrow and due to Seller, less our Transaction Fee and any applicable service fees.  

    %li MODIFICATION OF SERVICES. We may, in our discretion and without liability to you, with or without prior notice and at any time, modify or discontinue, temporarily or permanently, any portion of our Services.

    %li	LEGAL COMPLIANCE. You shall use our Services in a manner consistent with any and all applicable local, state, national and international laws and regulations.  

    %li	
      DISCLAIMER OF WARRANTIES
      %ol
        %li IF YOU USE OUR SERVICES, YOU DO SO AT YOUR SOLE RISK. YOU ACKNOWLEDGE AND AGREE THAT SquareStays DOES NOT CHECK ANY BUYER, SELLER, OR OTHER MEMBER'S BACKGROUND OR RECORD. SquareStays IS A REPUTATION-BASED SYSTEM. TAKE ADVANTAGE OF OTHER MEMBERS' COMMENTS AND THIRD-PARTY REFERRALS ON SELLERS AND BUYERS. USE COMMON SENSE. BE AWARE AND BE SAFE.  OUR SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND. WE EXPRESSLY DISCLAIM, AND YOU WAIVE, ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS.

        %li WE DO NOT WARRANT THAT (A) OUR SERVICES WILL MEET YOUR REQUIREMENTS; (B) OUR SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; (C) ANY INFORMATION THAT YOU MAY OBTAIN THROUGH OUR SERVICES WILL BE ACCURATE OR RELIABLE; (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH OUR SERVICES WILL MEET YOUR EXPECTATIONS; OR (E) ANY ERRORS IN ANY DATA OR SOFTWARE WILL BE CORRECTED.

        %li IF YOU ACCESS OR TRANSMIT ANY CONTENT THROUGH THE USE OF OUR SERVICES, YOU DO SO AT YOUR OWN DISCRETION AND YOUR SOLE RISK. YOU ARE SOLELY RESPONSIBLE FOR ANY LOSS OR DAMAGE ARISING OUT OF SUCH ACCESS OR TRANSMISSION.

        %li UNDER NO CIRCUMSTANCES WILL SquareStays OR ANY OF ITS OFFICERS, EMPLOYEES, AGENTS AND SUCCESSORS IN RIGHTS BE RESPONSIBLE FOR ANY LOSS OR DAMAGE, INCLUDING PERSONAL INJURY OR DEATH, RESULTING FROM ANYONE'S USE OF THE SITE OR THE SERVICES, ANY CONTENT POSTED ON THE SITE OR TRANSMITTED TO MEMBERS, OR ANY INTERACTIONS BETWEEN USERS OF THE SITE, WHETHER ONLINE OR OFFLINE.

        %li NO DATA, INFORMATION OR ADVICE OBTAINED BY YOU IN ORAL OR WRITTEN FORM FROM US OR THROUGH OR FROM OUR SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.

    %li 
      LIMITS ON LIABILITY
      %ol
        %li WE SHALL NOT BE LIABLE FOR DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, ANY DIRECT, INCIDENTAL, GENERAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES) EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, ARISING FROM OR RELATING TO: (A) THE USE OR INABILITY TO USE OUR SITE OR SERVICES; (B) HARM OR DAMAGE TO YOUR GOODS AS A RESULT OF USING OUR SITE OR SERVICES; (C) DISCLOSURE OF, UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR CONTENT; (D) ANY HARM TO YOU CAUSED IN WHOLE OR PART BY A THIRD PARTY, INCLUDING BUT NOT LIMITED TO ANOTHER USER OF THE SITE OR SERVICES; (E) STATEMENTS, CONDUCT OR OMISSIONS OF ANY BUYER, SELLER, OR OTHER THIRD PARTIES ON OUR SITE OR SERVICES; OR (F) YOUR OR ANYONE ELSE'S CONDUCT OR ACTS IN CONNECTION WITH THE USE OF THE SITE OR SERVICES, INCLUDING WITHOUT LIMITATION FROM INTERACTIONS WITH OTHER USERS OF OUR SITE OR SERVICES OR PERSONS INTRODUCED TO YOU BY OUR SITE OR SERVICES, WHETHER ONLINE OR OFFLINE.

        %li WE SHALL NOT BE LIABLE FOR ANY FAILURE OR DELAY IN PERFORMING UNDER THESE TERMS DUE TO CAUSES BEYOND OUR REASONABLE CONTROL, INCLUDING BUT NOT LIMITED TO ACTS OF NATURE AND POWER, INTERNET, AND EMAIL DISCONTINUITY.

        %li EXCEPT AS SET FORTH IN SECTION 18, IN NO EVENT WILL OUR AGGREGATE LIABILITY TO YOU OR ANY THIRD PARTY IN ANY MATTER ARISING FROM OR RELATING TO OUR SITE OR SERVICES OR THESE TERMS EXCEED THE SUM OF ONE HUNDRED U.S. DOLLARS (USD $100).

    %li	INDEMNITY. You agree to indemnify us and hold us (and each of our officers, directors, employees, agents, successors, assigns, and affiliates) harmless from any claim or demand, including reasonable attorneys' fees and costs, made by any third parties arising out of or relating to your Content, your use of our Services, your violation of these Terms, your breach of any representations and warranties herein, or your violation of any rights of another.  We will control any such defense and related settlement and you will reasonably assist us therewith and reimburse us for all out-of-pocket losses, costs and expenses.

    %li	REPORTING MISCONDUCT. If you interact or transact with any Seller or Buyer who you feel is acting or has acted inappropriately, including but not limited to offensive, violent or sexually inappropriate behavior, who you suspect of wrongdoing, or who engages in any other disturbing conduct, you should immediately report such person to the appropriate authorities and to SquareStays at help@SquareStays.com; provided that your report shall not obligate us to take any action beyond that required by law (if any) or cause us to incur any liability to you. 

    %li SquareStay­s DMCA (Digital Millennium­ Copyright Act) and Copyright notificati­on procedure:­ If you find that Content on SquareStay­s is infringing­ your copyright,­ you will need to file a written record of this claim to us at legal@squa­restays.co­m. Please include in this message: A physical or electronic­ signature of the copyright owner or a person authorized­ to act on the owner’s behalf; Identifica­tion and descriptio­n of the copyrighte­d work(s) you claim to have been infringed;­ Identifica­tion of the material you claim is infringing­ your copyrighte­d work(s) that you would like removed, along with location (Universal­ Resource Locator or URL); Contact informatio­n for the complainin­g party so that we may reach you; A statement that the complainin­g party has a good faith belief that use of the material is not authorized­ by the copyright owner, its agent(s), or the law; A statement that the informatio­n in the written message is accurate, and under penalty of perjury, that the complainin­g party is authorized­ to act on behalf of the copyright owner whose exclusive right is allegedly infringed.­ Please refer to sections 512(c)(3) and 512(f) for the relevant clauses surroundin­g filing copyright infringeme­nt claims and potential perjury and punishment­ actions. If you have filed a notice and wish to rescind it, please retract your notice by emailing legal@squa­restays.co­m with all relevant informatio­n.  After receiving and examining your notice, SquareStay­s will notify the reported party, and, if appropriat­e, remove the offending Content. 
    
    %li	JURISDICTION AND VENUE. These Terms shall be interpreted in accordance with the laws of the Republic of Singapore, without regard to conflict-of-law principles. You and we agree to submit to the  jurisdiction of a court located in Singapore.  You agree that any action brought against SquareStays shall be venued in a court in the Republic of Singapore.  

    %li	ATTORNEY’S FEES. The prevailing party in any action brought under this agreement shall be entitled to reasonable attorney’s fees and costs.  

    %li	MISCELLANEOUS. These Terms contain the entire agreement, and supersede all prior and contemporaneous understandings between the parties. Our failure or delay in exercising any right, power or privilege under these Terms shall not operate as a waiver thereof. The invalidity or unenforceability of any of these Terms shall not affect the validity or enforceability of any other of these Terms, all of which shall remain in full force and effect. We may assign our rights and delegate our obligations under these Terms in whole or part to a third party. Headings of sections are for convenience only and shall not be used to limit or construe such sections. Sections 1.4 (Release), 4 (Privacy), 5.2 (License), 6 (Third-Party Content), 7 (Payment), 8 (Proprietary Rights), 14 (Limits on Liability), 15 (Indemnity), 17 (Jurisdiction and Venue), 18 (Attorney’s Fees), and this Section 19 (Miscellaneous) shall survive any termination or expiration of these Terms.

  %p Please contact us at legal@SquareStays.com with any questions regarding these Terms. 

  %p Your continued use of this Site or Services and registration to use our Services is contingent upon your agreement to be bound by the foregoing Terms of Use.


