<div id="why" class="info">
<div class="row">
<div class="intro span12">
<h2>Why SquareStays (For Tenants)?</h2>
SquareStays connects you with trusted, professional agents and owners. We work with property owners, landlords and innovative real estate professionals to obtain high-quality listings. Browse and choose from a range of accommodation types and a variety of listing members in every city featured on SquareStays!</div>
<div class="intro span12"><br>
<div class="get-started"><a class="btn btn-primary btn-large btn-info" style="width: 210px;" href="/why?trigger_signup=true">Get Started!</a></div>
<div class="get-started">&nbsp;</div>
<div class="get-started"><strong>Places listed on SquareStays differ from others in a few key areas:</strong></div>
</div>
<div class="span16">
<div class="well">
<h4>Competitive Prices</h4>
<ul style="list-style-type: square;">
<li>For stays over a month, it is more economical to rent a property from SquareStays, compared to an average serviced apartment or four-star accommodation.</li>
<li>Clear &amp; precise listing of all the costs involved (deposits, rent &amp; utilities), no hidden fees or extras.</li>
<li>Prices ‘locked down’ upon confirmation</li>
<li>Constant price updates</li>
</ul>
</div>
<div class="well">
<h4>Variety &amp; Flexibility</h4>
<ul style="list-style-type: square;">
<li>Flexibility for the short-term (some as short as a week, most from one to six months)</li>
<li>Accommodation types (anywhere from studios to multiple-room units)</li>
<li>Numerous locations and property owners in each city</li>
</ul>
</div>
<div class="well">
<h4>Commitment</h4>
<ul style="list-style-type: square;">
<li>Listings are designed especially for business professionals &amp; travelers. We recognize that you demand a higher level of quality and a minimum set of convenience</li>
<li>Listings are thorough. We incorporate as much relevant information as you need to make a decision, eliminating time wasted on viewing and inquiring about places that aren’t right for you</li>
<li>Available amenities are clearly listed</li>
<li>All tenants will be covered by an insurance policy</li>
</ul>
</div>
<div class="well">
<h4>Where is SquareStays?</h4>
<p>SquareStays focuses on the Asia-Pacific region, including eastern Asia and Australia / New Zealand. With business travel to Asia-Pacific increasing and hotel prices sky-rocketing, finding a place to stay for business travel has become increasingly difficult.</p>
</div>
<div class="well singapore-first">
<h4>Singapore - the first city on Squarestays</h4>
<p>As a hub that connects the east and the west, Singapore is an important market in the Asian business economy with sustained growth and a highly-rated business environment.</p>
<img src="http://s3.amazonaws.com/squarestays-static/singapore.jpg" alt=""></div>
</div>
</div>
</div>