<%  if resource.cmspage_menu_sections.count == 0 %>
      <tr id = "dp_1">
        <td>You may drag&amp;drop any menu item here </td>
      </tr>
<%  else
      resource.cmspage_menu_sections.each do |ms|
        unless ms.cmspage.nil?
%>
          <tr id = "sp_<%= ms.id%>" data-ms-id = "<%= ms.id%>">
            <td><b><%= link_to ms.cmspage, ms.cmspage.link%></b>
                [<%= link_to "Edit Page", edit_admin_cmspage_path(ms.cmspage)%>]
  		      </td>
          </tr>
<%      end
      end
    end 
%>