#calendar-tab.tab-pane
  #first-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px; margin-left: 100px"}
  #second-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px;"}