%section.clearfix
  .row
    .span10.offset1
      .search-bar-wrapper
        .search-bar-container
          .search-bar
            .float-left
              %h2{:style => "padding-bottom:9px"} Best Clubs

      .results{:style => "padding-top: 10px;"}
        #search_results
          %ul.list-display
            #search_result_list
              - @clubs.each_with_index do |club, idx|
                = render 'row', :club => club, :ranking => (idx + 1)
