#panorama_modal.modal.hide.fade
  .modal-header
    %a{:href => '#', :class => 'close', 'data-dismiss' => 'modal'}x
    %h3 Upload panorama files
  .modal-body
    %p Loading...

.panel-wrapper
  .well
    .alert.alert-info
      = link_to t("products.wizard.panoramas_link"), 'http://gardengnomesoftware.com/pano2vr_example.php', :target => '_blank'
    .upload_wrapper
      = link_to new_listing_panorama_path(@resource), :remote => true, :data => {:toggle => 'modal', :target => '#panorama_modal'} do
        %img{:src => asset_path('upload-panoramas.png')}
      %p.hint= t("products.wizard.upload_panoramas_hint")

  = render 'panoramas/list', :product => @product, :actions => true