.property.data-block
  .title
    .type.house
      = resource.category.translated_name if resource.category
    .type.size
      = place_size(resource)

.property2.data-block
  .title
    - unless resource.num_bedrooms.blank?
      .type.bedroom
        = t("places.bedrooms_count", :count => resource.num_bedrooms)
    - unless resource.num_bathrooms.blank?
      .type.bathroom
        = t("places.bathrooms_count", :count => resource.num_bathrooms)