<% if @recaptcha_error %>
  Recaptcha.reload()
  $('#inquire').modal('show');
  $("#inquire_button").button('reset')
  $('#inquire').trigger('shown');
  $('.recaptcha_error').html("Invalid Text");
<% else %>
  $('.alert-message').remove();
  $('#inquire').modal('hide');
  <% if !@user.persisted? || !@inquiry.persisted? %>
    $("#inquire_button").button('reset');
    <%= open_modal :inquiry_not_sent, 'inquiries/not_sent' %>
    $('.product_info').before('<div class="alert alert-error" data-alert="alert"><a href="#" class="close" data-dismiss="alert">×</a><%= t("inquiries.inquiry_error") %></div>');
  <% else %>
    $('#inquire').addClass('sent');
    <%= open_modal :inquiry_sent, 'inquiries/sent' %>
  <% end %>
<%end%>