%fieldset.well.form-horizontal
  - CustomField.all.each do |cf|
    .control-group{:class => cf.required ? 'required' : '', :id => "cf_#{cf.name}"}
      = label_tag "custom_field_#{cf.name}", cf.label, :class => 'control-label'
      .controls
        = custom_field_input(cf, @resource)
