.property.data-block
  .title
    .type.size
      = 'Quick info 1'
    .type.size
      = 'Quick info 2'

.property2.data-block
  .title
    .type.size
      = 'Quick info 3'
    .type.size
      = 'Quick info 4'